# OS files
.DS_Store
thumbs.db

# Environment files
.envrc

# Coverage
/src/app/ui/coverage

# Go build folders
/pkg
/bin

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/src/app/api/cmd/api/api
/src/app/api/cmd/dbmigrate

# Vendored directories for Swagger and gvt.
/src/app/api/vendor/**
!/src/app/api/vendor/manifest
/src/github.com
/src/go.mongodb.org
/src/golang.org
/src/gopkg.in

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
