# OS files
.DS_Store
thumbs.db

# Environment files
.envrc

# IDE files
.vscode/
/src/app/ui/coverage

# Go build folders
/pkg
/bin

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/src/app/api/cmd/api/api
/src/app/api/cmd/dbmigrate

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
